.primera_seccionuno {
    background-color:white;
    height: 100px;
}

.primera_seccion {
    background-color:#FFE521;
    border: 2px solid white;
    height: 100px;
    font-family: 'Bitter', serif;
}

img {
    width: 100%;
}

#menupais {
    width:250px; /*Le establecemos un ancho*/
    margin:0 auto; /*Centramos automaticamente*/
    position: center;
}
.segunda_seccion {
    border: 2px solid white;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
}

.tercera_secciondos {
    border: 2px solid white;
    font-family: 'Bitter', serif;
}

#botonuno {
    position: absolute;
    font-size: 15px;
    width: 120px;
    background-color: #56F89A;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

#botondos {
    position: absolute;
    font-size: 15px;
    width: 120px;
    background-color: #56F89A;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

#botontres {
    position: absolute;
    font-size: 15px;
    width: 120px;
    background-color: #56F89A;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.vertical-menu {
    width: 300px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #FFE521; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 20px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    font-family: 'Open Sans', sans-serif;
}

.vertical-menu a:hover {
    background-color: #56F89A; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #FF009E; /*color verde del enlace "activo / actual"  */
    color: white;
}

p {
    border: 1px solid powderblue;
    padding: 30px;
}

.mi_tabla {
    position: absolute;
    text-align: left;
    border: 2px solid rgb(133, 132, 132);
    font-size: 15px;
    width: 120px;
}

td {
    text-align: center; 
}

#textouno {
    font-size: 16px;
    text-align: center;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

#textodos {
    font-size: 16px;
    text-align: center;
    color: black;
    font-family: 'Open Sans', sans-serif;
}


@media (min-width: 320px) and (max-width:768px) {
    [Class="row"] {
        width:100%;
        height:auto;
        margin-left:10px; }

    img {
        width: 100%;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    [class*="col-"] {
        width: 100%; 
        text-align: center;
    }

    .row{
        width: 100%; 
    }

}